{
  "name": "{{ agave.username }}-{{ app.name }}-test-{{ date_time.iso8601_basic_short }}",
  "appId": "{{ agave.username }}-{{ app.name }}-{{ app.version }}",
  "archive": false,
  "parameters": {
    "git_hash":  "ABC123"
  }
}