# not all requirements are needed to run test harness as a remote app, and some don't play well with Jenkins
# keep all local-only requirements here, and put shared requirements in requirements-app.txt

-r requirements-app.txt
seaborn